
#header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#title {
    height:10em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin: 1em 0;
}