#title {
    height: 6em !important;
}

#test-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
}

#test-controls {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    height: 560px;
}

#test-controls > div {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50%;
    margin: 0 1em;
}

#test-controls > div > label {
    margin-top: 0.5em;
}

#cell-types {
    display: flex;
    flex-direction: row;
    padding: 2px;
    background-color: black;
}

.cell-type {
    margin: 2px;
    font-size: 45px !important;
}

.cell-type.selected {
    border: 2px solid green;
}

