#board {
    width: 520px; /* 10x10 square */
    border: #000 1px solid;
    margin: 5px;
    padding: 0;
}

#grid-container-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid-item {
    border: 1px dashed #333;
    background-color: #777;

    text-align: center;
    width: 50px;
    height: 50px;

    color: #000;
    font-size: 45px;
    font-family: "Lucida Console";

}

/* Tiles */

.wall {
    background-color: #333;
}

.goal {
    background-color: rgb(247, 150, 77);
}

.fog {
    /* background-color: rgba(0, 0, 0, 0.8); */
}

.unseen.fog {
    background-color: rgba(0, 0, 0, 0.8);
}

.seen.fog {
    opacity: .4;
}

/* Collisions */

.error-north {
    border-top: 1px solid #F00;
}

.error-east {
    border-right: 1px solid #F00;
}

.error-south {
    border-bottom: 1px solid #F00;
}

.error-west {
    border-left: 1px solid #F00;
}